*, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }

  .new-movies {
    margin: 20px 15px;
    display: flex;
    gap: 20px;
  }

  .new-movies-card {
    background-color: #aaaaaa;
    height: 140px;
    width: 100px;
  }

  .new-movies-detail {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
  }

  .new-movies-description {
    font-size: 11px;
    color: #aaaaaa;
    overflow: hidden;
    width: 60vw;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .new-movies-top {
    display: flex;
    gap: 20px;
  }

  .new-movies-star-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 11px;
    color: #8e95a5;
  }

  .new-movies-quality {
    font-weight: 700;
    color: #8e95a5;
    font-size: 11px;

  }

  .new-movies-title {
    font-size: 14px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 60vw;
  }

  .watch-now {
    display: flex;
    gap: 15px;
    align-items: center;
    background-color: #404757ff;
    padding: 7px 10px;
    width: 110px;
    border-radius: 3px;
    font-size: 11px;
  }

  @media only screen and (min-width: 640px) {
    .new-movies {
        flex-direction: column;
        width: 28%;
    }
    .new-movies-card {
        height: 280px;
        width: 200px;
    }
    .wrapper {
        display: flex;
    }
    .new-movies-description {
        width: inherit;
        
    }
    .new-movies-title {
        width: inherit
    }
   }

   @media only screen and (min-width: 1000px) {
    .new-movies {
        flex-direction: row;
        width: 28%;
        position: relative;
        text-overflow: ellipsis;
    }
    .new-movies-card {
        display: block;
        height: 140px;
        width: 100px;
    }
    .wrapper {
        display: flex;
        justify-content: space-between;
    }
    .new-movies-detail {
        max-width: 200px;
    }
    .new-movies-description {

    }
    .new-movies-title {
        width: auto;
    }
   }

   @media only screen and (min-width: 1000px) {
    .new-movies {
        flex-direction: row;
        width: 28%;
        position: relative;
        text-overflow: ellipsis;
    }
    .new-movies-card {
        display: block;
        height: 140px;
        width: 100px;
    }
    .wrapper {
        display: flex;
        justify-content: space-between;
    }
    .new-movies-detail {
        max-width: 200px;
    }
   }

   @media only screen and (min-width: 1200px) {
    .App1 {
        display: flex;
        padding: 20px 10px;
    }
    .wrapper {
        flex-direction: column;
        background-color: #292d38ff;
        background: linear-gradient(to bottom, rgba(41, 45, 56, 1.0) 10%, transparent 100%)
    }
    .carousel {
        width: 850px;
    }
    .new-movies {
       margin-top: 20px;
    }
    .new-movies-detail {
        width: 200px;
    }
   }